.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    background-color: rgba(17, 17, 17, 0.29);
}

.right {
    right: 0;
    background-color: #4e004e;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

.bouton{
    display: flex;
    background-color: #4e004e;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    box-shadow: 2px 4px 2px 2px purple;
    text-align: center;
    font-size: 28px;
    padding: 30px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    margin-top: 100px ;
}

.bouton:hover{
    background-color: mediumpurple ;
}


#bike{
    text-align:center;
    height:500px;
    background-image: url("27.1.jpg");
    background-position:center;
    border-radius:20px;
    background-repeat:no-repeat;
}

.description{
    background-color: black;
    color: #4e004e;
    font-size:20px;
    box-shadow: 2px 4px 2px 2px purple;
}
.detail{
    background-color: mediumpurple;

}

h1, h2{
    text-align: center;
}


li{
    font-size: large;
    text-align: left;
    margin-left: 20px;
    padding-top: 20px;
}